@import '~bootstrap/scss/bootstrap';

body {
  background-color: #808080;
}

h1 {
  text-align: center;
  font-family: cursive;
  color: #00ffff;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-family: fantasy;
  color: #00ffff;
}



.container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);

  background: #FA8072;
}

.box {
  border-right: 1px solid black;

  border-bottom: 1px solid black;

&:nth-child(3n) {
  border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  min-height: calc(100% / 3);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  font-size: 15vh;

  min-height: 10rem;


}

.box:hover {
  background-color: #FA8072;
}

// .end-game {
//   // display: none;
//   width: 200px;
//   top: 120px;
//   background-color: white;
//   position: absolute;
//   left: 50%;
//   margin-left: -100px;
//   padding-top: 50px;
//   padding-bottom: 50px;
//   text-align: center;
//   border-radius: 5px;
//   color: black;
//   font-size: 2em;
// }

#message {
  font-size: 30px;
  color: #FA8072;
  text-align: center;
}
